/** Border-box is often easier to use. */
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

html, body, main {
    width: 100%;
    width: -webkit-fill-available;
    height: 100%;
    height: -webkit-fill-available;
    margin: 0;
}

.main-canvas {
    width: 100%;
    width: -webkit-fill-available;
    height: 100%;
    height: -webkit-fill-available;
}
